.footer {
  background-color: #000000; 
  color: #F0F4F8; 
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 25%;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #239576; 
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  color: #F0F4F8; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #A7D3D2;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}