.testimonials {
  background-color: #F0F4F8; 
  padding: 50px 0;
  text-align: center;
}

.testimonials-carousel {
  width: 80%;
  margin: 0 auto;
}

.slick-slider {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}


.testimonial-quote {
  font-style: italic;
  margin-bottom: 1rem;
  color: #000000; /* Deep black */
}

.testimonial-author {
  color: #555;
}