.login-form {
   max-width: 400px;
   margin: 50px auto;
   padding: 30px;
   border: 1px solid #ffffff;
   border-radius: 5px;
 }
 
 .login-form h2 {
   text-align: center;
   margin-bottom: 20px;
   color: #d3d3d3;
   font-weight: bold;
   font-size: 25px;
 }
 
 .login-form div {
   margin-bottom: 15px;
 }
 
 .login-form label {
   display: block;
   margin-bottom: 5px;
   color: #c9c9c9;
   font-weight: bold;
   font-style: italic;
   font-size: 13px;
 }
 
 .login-form input {
   width: 100%;
   padding: 10px;
   border: 1px solid #ffffff;
   border-radius: 3px;
 }
 
 .login-form button {
   background-color: #00A86B;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   font-weight: bold;
   font-size: 14px;
   transition: background-color 0.3s ease;
   width: 40%;
   margin-left: 30%;
   margin-right: 30%
 }
 

 .login-container {

  background-size: cover;
  background-position: center;
}